@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

:root {
  --cor-primaria: #fe6613;
  --cor-secundaria: #1b2653;
  --cor-terciaria: #787878;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header-container {
  font-size: 1rem;
  display: grid;
  align-items: center;
  place-items: space-between;
  margin-top: 0;
  max-width: 100vw;
  min-height: 80px;
  background-color: var(--cor-secundaria);
}

.logo-header {
  display: flex;
  position: absolute;
  max-height: 80px;
  padding: 0 40px 0 40px;
}

.nav-left-header {
  left: 250px;
  position: relative;
  height: 80px;
  display: flex;
  float: left;
}

.nav-right-header {
  height: 80px;
  display: flex;
  float: right;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.btn-header {
  color: #ffffff;
  background-color: var(--cor-secundaria);
  margin: 15px 60px 15px 40px;
  padding: 0 25px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-header:hover {
  background-color: var(--cor-primaria);
}

.main-container {
  background-color: #ffffff;
  padding: 90px 90px 120px 90px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  gap: 80px;
}

.main-card {
  display: flex;
  width: 440px;
  height: 380px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--cor-terciaria);
  border-radius: 8px;
  background-color: #ffffff;
  overflow: hidden;
  flex-direction: column;
}

.footer-container {
  display: grid;
  position: relative;
  align-items: center;
  place-items: space-between;
  max-width: 100vw;
  height: 80px;
  background-color: var(--cor-secundaria);
  font-weight: 400;
}

.nav-left-footer {
  margin: 20px 60px 0 60px;
  display: flex;
  float: left;
}

.paragraph-footer {
  display: inline;
  position: absolute;
  top: 14px;
  right: 350px;
  color: #ffffff;
}

.logo-footer {
  margin-right: 30px;
  float: right;
  display: flex;
  max-height: 80px;
  padding: 0 20px;
}

@media (max-width: 1188px) {
  body {
    font-size: 18px;
  }
  .main {
    align-items: center;
    justify-content: center;
  }
  .main-container {
    padding: 40px 0 80px 0;
  }
  .nav-left-footer {
    display: none;
  }
  .paragraph-footer {
    top: 23px;
    left: 50px;
    font-size: 0.75rem;
  }
  .nav-left-header {
    display: none;
  }
  .nav-right-header {
    display: none;
  }
  .logo-header {
    top: 0;
    display: flex;
    min-height: 120px;
  }
  .header-container {
    height: 120px;
  }
}
